* {
  margin: 0px;
  box-sizing: border-box;
  
}
html {
  height: 100%;
 
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  background-color: #d4ddef;

   
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 25px;
}

header p {
  color: #5b6e93;
}

.canal {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.canal i {
  color: red;
}

/* CONTAINER - PRINCIPAL */
.container {
  width: 90%;
  height: 70vh;
  margin: 0px auto 50px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

textarea {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  font-size: 25px;
  resize: none;
}

textarea:focus {
  outline: none;
}

.seccion1 p {
  font-size: 13px;
  color: rgb(49, 68, 84);
}

.seccion1 button,
.seccion2 button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 400ms;
}

.seccion1 button:hover,
.seccion2 button:hover {
  transform: scale(1.05);
}

.botones {
  margin-top: 10px;
  display: flex;
  gap: 15px;

}

.seccion1 .btnEncriptar {
  background-color: rgb(17, 121, 201);
  color: #fff;
  flex: 1;
}

.seccion1 .btnDecencriptar {
  border: 1px solid rgb(17, 121, 201);
  color: rgb(17, 121, 201);
  flex: 1;
}

.error {
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(188, 1, 66);
  color: rgb(188, 1, 66);
  margin: 7px;
  border-radius: 5px;
}

/* SECCION 2 */
.seccion2 {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgb(195, 205, 216);
}

.seccion2 img {
  width: 150px;
}

.seccion2 .btnCopiar {
  border: 1px solid rgb(17, 121, 201);
  color: rgb(17, 121, 201);
  margin: 20px 0;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (max-width: 550px) {
  .container {
      width: 95%;
      grid-template-columns: 1fr;
  }

  .seccion1 {
      height: 250px;
  }

  textarea {
      height: 100px;
  }

}

/* SNIPER */
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgb(17, 121, 201);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
/* Estilos generales para el footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 25px;
  font-size: 16px;
  text-align: center; /* Agregamos esta propiedad para centrar el contenido */
  
  position: fixed;
 
  bottom: 0%;
  width: 100%;
  height: 10px;
  
}



footer a {
  color: #fff;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  footer {
    padding: 40px 0;
    
 
    
    text-align: center;
  }

  .social-icons li {
    margin-right: 20px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 30px 0;
   



    font-size: 14px;
  }

  .social-icons li {
    margin-right: 15px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  footer {
    padding: 20px 0;
    font-size: 12px;
    

    
  }

  .social-icons li {
    margin-right: 5px;
  }
}
